*.apk
*.ap_
*.dex
*.class
*.o
*.so
bin/
gen/
.gradle/
build/
local.properties
proguard/
.metadata/
*.DS_Store
Thumbs.db
*~
*.iml
*.ipr
*.iws
/.idea/*
/captures
!/.idea/codeStyles/
!.idea/dictionaries
!/.idea/icon.svg
hs_err_pid*
/.kotlin
